body {
    padding: 0;
    margin: 0;
    background: #FAF9F6;
}
.imagecut{
    object-fit: cover;
}
#cardborder {
    border: none;
}
#cardsize {
    border: none;
}
@media (min-width: 1000px) {
    #cardsize {
   margin-right: 300px; } }
#cardcolor{
    color: #E30B5C;
}
#buttonradius {
    border: none;
    color: #fff;
    background-color: #E30B5C;
    border-radius: 15px;
    padding: 1px 7px;
}
#liststyle li {
    list-style: none;
    margin-bottom: 5px;
}
#footercolor {
    margin-top: 100px;
    background:#C0C0C0;
    padding: 50px;
}